name: Deploy Laravel App to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'

            cd ${{ secrets.EC2_PATH }}

            git pull origin main

            # PHP deps
            composer install --no-interaction --prefer-dist --optimize-autoloader

            # Node deps + build
            if [ -f package.json ]; then
              npm install
              npm run build
            fi

            # Laravel optimizations
            php artisan migrate --force

            php artisan config:clear
            php artisan route:clear
            php artisan view:clear
            php artisan cache:clear

            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

          EOF
